<div class="container">
    <h2>Crear Nuevo Dept</h2>
    <form method="post">
        <label class="form-label">ID:</label>
        <input class="form-control" type="text" name="dept" />

        <label class="form-label">Nombre:</label>
        <input class="form-control" type="text" name="nombre" />

        <label class="form-label">Loc:</label>
        <input class="form-control" type="text" name="Loc" />


        <button class="btn btn-success">Crear</button>
    </form>
    <a class="btn btn-primary" asp-action="Index">Volver</a>
</div>